include src/cfkit/data/cfkit.conf
include src/cfkit/data/languages.json
graft src/cfkit/data/*
include src/cfkit/json/*
include src/cfkit/dependencies/*
include examples/*
include docs/*
include README.md