include src/cfkit/_data/cfkit.conf
include src/cfkit/_data/languages.json
include src/cfkit/_data/test_samples_results.json
graft src/cfkit/_data/*
include src/cfkit/_json/*
include src/cfkit/_dependencies/*
include examples/*
include docs/*
include README.md
